# --- APPLICATION SETTINGS ---
ENVIRONMENT=development # Available options: development, staging, production

# --- DATABASE ---
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=raizes_do_nordeste
POSTGRES_HOST=localhost
# For development, we can use a different port to avoid conflicts with any existing PostgreSQL instances on your machine. The default PostgreSQL port is 5432, but you can change it if needed.
POSTGRES_PORT=5444