# --- APPLICATION SETTINGS ---
FRONTEND_URL=
ENVIRONMENT=development # Available options: development, staging, production
SECRET_KEY=super-secret-key-change-in-production
FIRST_ADMIN_EMAIL=admin@example.com
FIRST_ADMIN_PASSWORD=Admin*12345

# --- DATABASE ---
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=raizes_do_nordeste
POSTGRES_HOST=localhost
# For development, we can use a different port to avoid conflicts with any existing PostgreSQL instances on your machine. The default PostgreSQL port is 5432, but you can change it if needed.
POSTGRES_PORT=5444

# --- REDIS ---
REDIS_HOST=localhost
REDIS_PASSWORD=redispassword
# For development, we can use a different port to avoid conflicts with any existing Redis instances on your machine. The default Redis port is 6379, but you can change it if needed.
REDIS_PORT=6380

# --- MAIL SETTINGS ---
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=example@example.com
MAIL_PORT=1025
MAIL_SERVER=localhost
MAIL_FROM_NAME=Raízes do Nordeste
MAIL_STARTTLS=False
MAIL_SSL_TLS=False
USE_CREDENTIALS=False
VALIDATE_CERTS=False

# --- LOCAL FILE STORAGE ---
UPLOAD_DIR=static/uploads
UPLOAD_PUBLIC_URL=/uploads
